<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon site Symfony</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site Symfony</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
